{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        <meta name="description" content="About me, Blog and projects" />

        <!-- Twitter Card data -->
        <meta name="twitter:card" value="About me, Blog and projects" />

        <!-- Open Graph data -->
        <meta property="og:title" content="Aditya Chowdhry" />
        <meta property="og:type" content="personal" />
        <meta property="og:image" content="http://adityachowdhry.com/assets/images/profile.jpg" />
        <meta property="og:description" content="About me, Blog and projects" />
        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
